body{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/986/935/desktop-wallpaper-black-and-gold-backgrounds-black-and-white-triangle-pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    width: 200px;
    position: absolute;
    top: 5%;
    left: 2%;
}
.quiz-container {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    transition: opacity 1.5s ease-in-out;
    color: #b19d06;
}
.option {
    display: block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
.fade-out {
    opacity: 0;
}
.flash-red {
    animation: flash 0.5s;
}
@keyframes flash {
    0% { background-color: lightcoral; }
    100% { background-color: white; }
}
#feedback {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}
.green-text {
    color: green;
}
.red-text {
    color: red;
}