@font-face {
  font-family: "old";
  src: url(/Media/ElizabethCn-axrK.ttf);
}
@font-face {
  font-family: "Writing";
  src: url(/Media/DemoashenfordScript-BLOAB.otf);
}

.quiz-container {
  font-family: "Writing";
  width: 300px;
  margin: 50px auto;
  text-align: center;
  transition: opacity 1.5s ease-in-out;
  font-size: xx-large;
}
#question{
  color: #b19d06;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
}
#answerInput{
  color:#b19d06;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: black;
  font-family: "old"
}

.button{
  border-radius: 5px;
  background-color: #b19d06;
}

.fade-out {
  opacity: 0;
}
.flash-red {
  animation: flash 0.5s;
}
@keyframes flash {
  0% { background-color: lightcoral; }
  100% { background-color: white; }
}
#feedback {
  font-size: 26px;
  margin-top: 10px;
  font-weight: bold;
}
.green-text {
  color: green;
}
.red-text {
  color: red;
}


body{
  background-image: url(../Media/Backgroundplaceholder.png);
  background-size: cover;
  background-repeat: no-repeat;
}